body {
  padding: 10px 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

/*index.ejs login styling*/

#indBody {
  background: url("http://blog.kulikulifoods.com/wp-content/uploads/2014/11/fruits-and-vegetables.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#logo{
position: relative;
}
#loginBox {
  background-color: black;
  width: 50%;
  opacity: 0.80;
  text-align: center;
}

#loginHeader {
  color: gray;
}

a href {
  color: #00B7FF;
  text-decoration: underline;
  cursor: pointer;
}


.formfield {
  margin: 10px 0;
}

.formfield--prompt {
  color: gray;
  margin-bottom: 10px, 10px, 10px, 10px;

}

#tableHeading {
  border: 1px solid black;
  font-weight: bold;
}

#preparation {
  color: white;
}

input + label.error {
  background-color: #A7383E;
  color: #FFE5E7;
  clear: both;
  padding: 3px;
  margin: 0 0 0 10px;
  border: 1px dotted red;
  border-radius: 4px;
}

.todo-item {
  border: 1px solid black;

}

.actions {
  padding: 0 0 0 0;
}

.deleteButton, .submitButton, .editButton {
  margin: 0 10px 0 0;
}

.todo-item:nth-of-type(odd) {
    background: #e0e0e0;
}


.addTaskBody {
 background: url(http://higherperspective.com/wp-content/uploads/2015/01/grocery-shopping.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

#addTodoPage {
  background: url(http://watchdog.org/wp-content/blogs.dir/1/files/2015/02/food.jpg);
}

#taskFormBox {
 background-color: black;
 width: 50%;
 opacity: 0.80;
 text-align: center;
 
}

#submitButton, #submitButtonRecipe {
 color: black;
 margin-bottom: 10px;
 margin-top: 10px;Z
}

#formTitle {
 color: white;
}

#userProfile {
    background: url("http://www.indiahouse.com/images/grocery_main_small.jpg");
    background-size: cover;
}

#profileTop {
    background-color: black;
    opacity: 0.80;
    text-align: center;
    color: white;
    font-size: 20px;
}