<!DOCTYPE html>
<html>
  <head>
    <title>Task list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
    <div align=center>
    <h1>Awesome Grocery List</h1>


    <form method="POST" action="/user/login" id="loginForm">
      <div class="formfield">
        <div class="formfield--prompt">Username:</div>
        <input type="text" id="username" name="username">
      </div>
      <BR>
      <div class="formfield">
        <div class="formfield--prompt">Password:</div>
        <input type="password" id="password" name="password">
      </div>
      <BR>
      <input class="submitButton" type="submit"></input>
    </form>

        <p><BR>Please log in below or  <a href="/user/register">register</a> for a new account</p>
  </div>
  </body>
</html>
