<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>

    <h1>Register to create tasks</h1>

    <form method="POST" action="/user/register" id="registerForm">
      <div class="formfield">
        <div class="formfield--prompt">Username:</div>
        <input type="text" id="username" name="username" minlength="5" type="text" required>
      </div>
      <div class="formfield">
        <div class="formfield--prompt">Password:</div>
        <input type="password" id="password" name="password" minlength="5" type="text" required>
      </div>
      <input class="submitButton" type="submit"></input>
    </form>

  </body>
</html>
